{% extends 'base.html' %} {% block title %}Consulta e Monitoramento de Ativos{%endblock %} {% block content %}
<h1>Bem-vindo</h1>
<p>
  Esse aplicativo tem como objetivo listar e monitorar ativos. Utilize o menu à
  esquerda para navegar.
</p>

<h2>Listar Ativos</h2>
<p>
  Nessa página você encontrará uma lista com todos os ativos e suas cotações.
</p>

<h2>Monitorar Ativos</h2>
<p>
  Monitore seus ativos favoritos e inclua um túnel de preços para que o
  aplicativo envie um email com oportunidades de compra e venda.
</p>
<p>
  Nessa página você ainda consegue consultar o histórico dos ativos monitorados.
</p>

{% endblock %}
